.App {
  margin: 0 auto;
  width: 400px;
}

/* Circle */
.wrapper {
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  /* grid-gap: 2px; */
  width: 300px;
  justify-content: space-between;
  margin: auto;
}

.dot {
  display: flex;
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  /* display: block; */
  margin: auto;
}
